.p1 {
  height: 67%;
  transform-origin: center 90%;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.hammer {
  position: absolute;
  width: 200px;
  top: -16%;
  left: 30%;
  cursor: pointer;
}
.background-1 {
  height: 100%;
  position: absolute;
  left: 44.3%;
  top: 24.5%;
  transform-origin: 30% 80%;
}
.group {
  position: relative;
}